﻿@*//-----------------------------------------------------------------------
    // Copyright 2019 Sitecore Corporation A/S
    // Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
    // except in compliance with the License. You may obtain a copy of the License at
    //       http://www.apache.org/licenses/LICENSE-2.0
    //
    // Unless required by applicable law or agreed to in writing, software distributed under the
    // License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
    // either express or implied. See the License for the specific language governing permissions
    // and limitations under the License.
    // -------------------------------------------------------------------------------------------*@
@using System.Web.Mvc.Html
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Commerce.XA.Foundation.Common.ExtensionMethods
@using Sitecore.Commerce.XA.Feature.Cart.Models
@using Sitecore.Mvc
@using ComponentDataSource = Sitecore.Commerce.XA.Feature.Cart.CartFeatureConstants.ShoppingCart.DataSourceFields;

@model ShoppingCartLinesRenderingModel
@{
    var currentItem = Html.Sitecore().CurrentItem;
    var productDetailsLabel = Html.Sitecore().Field(ComponentDataSource.ProductDetailsLabel, Html.Sitecore().CurrentItem, new { Parameters = new Sitecore.Collections.SafeDictionary<string> { { "title", @Model.ProductDetailsTooltip } } });
    var unitPriceLabel = Html.Sitecore().Field(ComponentDataSource.UnitPriceLabel, Html.Sitecore().CurrentItem, new { Parameters = new Sitecore.Collections.SafeDictionary<string> { { "title", @Model.UnitPriceTooltip } } });
    var quantityLabel = Html.Sitecore().Field(ComponentDataSource.QuantityLabel, Html.Sitecore().CurrentItem, new { Parameters = new Sitecore.Collections.SafeDictionary<string> { { "title", @Model.QuantityTooltip } } });
    var totalLabel = Html.Sitecore().Field(ComponentDataSource.TotalLabel, Html.Sitecore().CurrentItem, new { Parameters = new Sitecore.Collections.SafeDictionary<string> { { "title", @Model.ProductTotalTooltip } } });
    var discountLabel = currentItem[ComponentDataSource.DiscountLabel];
    var savingsLabel = currentItem[ComponentDataSource.SavingLabel];
    var deliveryLabel = currentItem[ComponentDataSource.DeliveryLabel];
    var addressLabel = currentItem[ComponentDataSource.AddressLabel];

}
<div @Html.Sxa().Component("cxa-shoppingcartlines-component", Model.Attributes) data-cxa-component-class="CartLines" data-cxa-component-initialized="false" data-cxa-component-model="CartLinesViewModel" data-cxa-component-type="component">
    @if (!String.IsNullOrWhiteSpace(Model.ErrorMessage))
    {
        <div class="error-message">
            @Model.ErrorMessage
        </div>
    }
    else
    {
        <div class="component-content" data-bind="with: cart">
            <div class="shopping-cart-lines">
                <table>
                    @if (Model.DisplayTableHeader)
                    {
                        <thead>
                            <tr>
                                <th colspan="2" title="@Model.ProductDetailsTooltip">@productDetailsLabel</th>
                                <th title="@Model.UnitPriceTooltip">@unitPriceLabel</th>
                                <th title="@Model.QuantityTooltip">@quantityLabel</th>
                                <th title="@Model.ProductTotalTooltip" class="total-header">@totalLabel</th>
                                <th class="delete-row">&nbsp;</th>
                            </tr>
                        </thead>
                    }
                    <tbody data-bind="foreach: cartLines">
                        <tr>
                            <td class="shoppingcart-image">
                                <a data-bind="attr:{'href' : productUrl}"><img data-bind="attr: {src: image}" alt="" pid="image" /></a>
                            </td>
                            <td class="shoppingcart-info">
                                <a data-bind="attr:{'href' : productUrl}">
                                    <h5 class="displayName" data-bind="text: displayName"></h5>
                                </a>
                                <div class="product-variant-information" data-bind="foreach: properties">
                                    <div class="variant-information">
                                        <span class="variant-label" data-bind="text: label"></span>
                                        <span class="variant-value" data-bind="text: value"></span>
                                    </div>
                                </div>
                                @if (Model.DisplayShippingInformation)
                                {
                                    <p class="shoppingcart-delivery" data-bind="if: shippingMethodName">
                                        <span>@deliveryLabel</span>
                                        <span class="shippingMethodName" data-bind="text: shippingMethodName"></span>
                                    </p>
                                    <div class="shoppingcart-delivery" data-bind="if: address">
                                        <span>@addressLabel</span>
                                        <ul class="lineShippingAddress">
                                            <li>
                                                <span data-bind="text: address.Address1"></span>
                                                <span data-bind="text: address.City"></span>
                                            </li>
                                            <li>
                                                <span data-bind="text: address.State"></span>
                                                <span data-bind="text: address.ZipPostalCode"></span>
                                            </li>
                                            <li>
                                                <span data-bind="text: address.Country"></span>
                                            </li>
                                        </ul>
                                    </div>
                                }
                            </td>
                            @if (Model.DisplayUnitPriceColumn)
                            {
                                <td class="shoppingcart-price">
                                    <span class="price" data-bind="text: linePrice"></span>
                                    <p data-bind="visible: discountOfferNames.length > 0">
                                        <span>@discountLabel</span>
                                        <span data-bind="text: discountOfferNames" class="shoppingcart-saving"></span>
                                    </p>
                                </td>
                            }
                            @if (Model.DisplayQuantityColumn)
                            {
                                <td class="shoppingcart-quantity">
                                    <div>
                                        <button class="decrease" data-bind="event: { click: $parents[1].decreaseQuantity }, disable: $parents[1].quntityUpdating" style="display: none"></button>
                                        <input class="quantity" min="1" type="number" placeholder="1" data-bind="event: { change: $parents[1].updateQuantity }, value: quantity, valueUpdate: 'input', fireChange:true, attr: {'data-ajax-lineitemid': externalCartLineId}, disable: $parents[1].quntityUpdating">
                                        <button class="increase" data-bind="event: { click: $parents[1].increaseQuantity } , disable: $parents[1].quntityUpdating" style="display: none"></button>
                                    </div>
                                </td>
                            }
                            <td class="shoppingcart-total">
                                <span class="total" data-bind="text: lineTotal"></span>
                                <p data-bind="visible: discountOfferNames.length > 0">
                                    <span>@savingsLabel</span>
                                    <span data-bind="text: lineItemDiscount" class="shoppingcart-total-saving"></span>
                                </p>
                            </td>
                            @if (Model.DisplayDeleteButtonColumn)
                            {
                            <td class="shoppingcart-delete">
                                <a class="remove-line" data-bind="attr: {'data-ajax-lineitemid': externalCartLineId}">
                                    <span data-bind="click: $parents[1].removeItem"></span>
                                </a>
                                @if (Sitecore.Context.IsLoggedIn)
                                {
                                    <button class="btn add-to-wishlist" data-bind="attr: {'data-ajax-lineitemid': externalCartLineId}, click: $parents[1].addItemToWishList">
                                        <i class="fa"></i>
                                        <span>Move to My Wish List</span>
                                    </button>
                                }
                            </td>
                            }

                        </tr>
                    @if (Model.DisplaySubLines)
                    {
                        <!-- ko foreach: sublines -->
                        <tr class="subline-row">
                            <td colspan="3">
                                <div class="flex-container">
                                    <div class="shoppingcart-image td">
                                        <a data-bind="attr:{'href' : productUrl}"><img data-bind="attr: {src: image}" alt="" pid="image"/></a>
                                    </div>
                                    <div class="shoppingcart-info td">
                                        <a data-bind="attr:{'href' : productUrl}">
                                            <h5 class="displayName" data-bind="text: displayName"></h5>
                                        </a>
                                        <div class="product-variant-information" data-bind="foreach: properties">
                                            <div class="variant-information">
                                                <span class="variant-label" data-bind="text: label"></span>
                                                <span class="variant-value" data-bind="text: value"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td colspan="1" class="shoppingcart-quantity td">
                                <text>@quantityLabel: </text> <lable class="quantity" data-bind="text: quantity"/>
                            </td>
                            <td colspan="2"></td>
                        </tr>
                        <!-- /ko -->
                    }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>
